@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
	max-width: 100%;
}

html {
    font-family: "Poppins", sans-serif;
}

/* LAYOUT */
.container {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0;
}

.container-sm {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 2rem;
}


.row {
	display: flex;
	flex-wrap: wrap;
}

.row > * {
	padding: 0 10px;
}

.col-33 {
	width: calc(100% / 3);
}

.col-66 {
	width: calc(2 * (100% / 3));
}

.col-100 {
	width: 100%;
}

/* Header */

.navbar {
    display: flex;
    background-color: #FF6900;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    background-color: #FF6900;
    width: 100%;
    height: 70px;
    /* position: fixed; */
}

.logo img {
    height: 24px;
    min-width: 107px;
}

.main-menu {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Main */

.main-content {
    padding: 60px 0;
}

.card {
    padding-bottom: 30px;
    position: relative;
}

.card-img {
    position: relative;
}

.primary-img {
    position: absolute;
}

.card:hover .primary-img {
    display: none;
}

/* Features */

.brand {
    font-size: 12px;
    line-height: 12px;
}

.product-type {
    text-transform: uppercase;
    line-height: 16px;
}

.discounted-price {
    color: red;
    font-size: 14px;
    line-height: 14px;
}

.original-price {
    text-decoration: line-through;
    font-size: 14px;
}

.heart {
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 30px;
    line-height: 40px;
    width: 40px;
    text-align: center;
}

.discount {
    background-color: red;
    color: white;
    position: absolute;
    bottom: 60px;
    left: 0;
    padding: 0 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
}

.eco {
    background-color: #008000;
    color: white;
    position: absolute;
    bottom: 60px;
    left: 47px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    padding: 0 5px;
}

.only-eco.eco {
    left: 0;
}

/* Utilities */

 .ph-card {
    min-height: 700px;
    background-color: chartreuse;
    border: 1px dashed black;
    padding: 0 10px;
 }
