/* RESET */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* LAYOUT */
.container {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0;
}

.container-sm {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 2rem;
}


.row {
	display: flex;
	flex-wrap: wrap;
}

.row > * {
	padding: 0 20px;
}

.col-33 {
	width: calc(100% / 3);
}

.col-66 {
	width: calc(2 * (100% / 3));
}

.col-100 {
	width: 100%;
}

/* Header */

.navbar {
    display: flex;
    background-color: #FF6900;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 1080px;
    margin: 0 auto;
}

.main-header {
    background-color: #FF6900;
    width: 100%;
    height: 70px;
    position: fixed;
}

.logo img {
    height: 24px;
}

.main-menu {
    display: flex;
    gap: 20px;
    justify-content: center;
}